<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="./static/css/bootstrap_3.3.7_css_bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link type="text/css" href="./static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link type="text/css" href="./static/css/blog.css" rel="stylesheet">


</head>

<body>


<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="https://v3.bootcss.com/examples/jumbotron-narrow/#">Home</a></li>
                <li role="presentation"><a href="https://v3.bootcss.com/examples/jumbotron-narrow/#">About</a></li>
                <li role="presentation"><a href="https://v3.bootcss.com/examples/jumbotron-narrow/#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">LifeForFun</h3>
    </div>






    <div class="row">

        <div class="col-sm-8 blog-article">

            <div class="blog-post">
                <h2 class="blog-post-title">Sample blog post</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="https://v3.bootcss.com/examples/blog/#">Mark</a></p>

                <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
                <hr>


            </div><!-- /.blog-post -->



            <nav>
                <ul class="pager">
                    <li><a href="https://v3.bootcss.com/examples/blog/#">Previous</a></li>
                    <li><a href="https://v3.bootcss.com/examples/blog/#">Next</a></li>
                </ul>
            </nav>

        </div><!-- /.blog-article -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">

                    <li><a href="https://v3.bootcss.com/examples/blog/#">June 2013</a></li>
                    <li><a href="https://v3.bootcss.com/examples/blog/#">May 2013</a></li>
                    <li><a href="https://v3.bootcss.com/examples/blog/#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://v3.bootcss.com/examples/blog/#">GitHub</a></li>
                    <li><a href="https://v3.bootcss.com/examples/blog/#">Twitter</a></li>
                    <li><a href="https://v3.bootcss.com/examples/blog/#">Facebook</a></li>
                </ol>
            </div>
        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="https://v3.bootcss.com/examples/blog/#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./static/js/jquery_1.12.4_jquery.min.js"></script>
<script src="./static/js/bootstrap_3.3.7_js_bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="./static/js/ie10-viewport-bug-workaround.js"></script>


</body></html>