<!DOCTYPE html>
<html lang="zh-CN"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="ovo">
    <link rel="icon" href="https://v3.bootcss.com/favicon.ico">

    <title>LifeForFun_Home</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="./static/js/html5shiv.min.js"></script>
    <script src="./static/js/respond.min.js"></script>
    <![endif]-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./static/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Custom styles for this template -->
    <link href="./static/css/home.css" rel="stylesheet">

    <link href="./static/css/hiddenText.css" rel="stylesheet">

</head>

<body>
    <!-- header -->
    <!-- 导航条 开始-->
    <div th:replace="/frame/pageHeader :: copy"></div>
    <!-- header 结束 -->

        <div class=" container-fluid mainbody ">
            <div class=" row col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1">
                <div class="ibody col-xs-9 column col-md-9 col-lg-9 ">
                    <div class="row ">
                        <ul class="nav nav-pills itags">
                            <li>
                                <a href="/home">&nbsp;•&nbsp;所有</a>
                            </li>

                            <li>

                                <a href="/home">&nbsp;•&nbsp;技术</a>
                            </li>

                            <li>

                                <a href="/home">&nbsp;•&nbsp;日常</a>
                            </li>

                            <li>

                                <a href="/home">&nbsp;•&nbsp;创意</a>
                            </li>
                        </ul>
                    </div>

                    <div class="row itabs">

                        <a class="node" href="/home">最新</a>

                        <a class="node" href="/home">最热</a>

                        <a class="node" href="/home">浏览最多</a>
                    </div>
                    <div class="iarticles">
                        <div class="row iarticle " th:each="article : ${articlelist}">
                            <div class="column col-xs-1 col-md-1 col-lg-1  author_img">
                                <a href="/manage/member/ovo">
                                    <img src="/static/imgs/ovo.gif" alt="ovo的头像"/>
                                </a>
                            </div>
                            <div class="column col-xs-10 col-md-10 col-lg-10 article_main">
                                <div class="article_title" th:text="${article.title}">
                                    <p>article.title</p>
                                </div>

                                <div>
                                    Created By <a th:href="'/manage/member/'+${article.author}" ><Strong  th:text="${article.author}">OvO</Strong></a> on <strong th:text="${article.createtime}">2018.11.27</strong>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="row iarticle " >

                        <div class="column col-xs-1 col-md-1 col-lg-1  author_img">
                            <a href="/manage/member/ovo">
                                <img src="/static/imgs/ovo.gif" alt="ovo的头像"/>
                            </a>
                        </div>

                        <div class="column col-xs-10 col-md-10 col-lg-10   article_main">
                            <div class="article_title">
                                <a href="home.html">For Fun For Life!</a>
                            </div>
                            <div class="article_info">
                                Created By <a href="/manage/member/ovo"><Strong>OvO</Strong></a> on <strong>2018.11.27</strong>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column col-xs-3 col-md-3 col-lg-3  ">
                        <div class="jumbotron">
                            <h2>
                                Hello, world!
                            </h2>
                            <h4>
                                FOR LIFE FOR FUN
                            </h4>
                        </div>
                </div>
            </div>
        </div>

</body>
<footer>
    <div class="container-fluid ifooter">
        <div class=" row col-xs-12 col-md-12 col-lg-12  ">
            <!-- footer -->
            <div th:replace="/frame/pageFooter :: copy"> </div>
            <!-- footer 结束-->
        </div>
    </div>

</footer>
</html>