<!DOCTYPE html>

<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>hahahaha</title>
    <script src="./static/ckeditor/ckeditor.js"></script>
</head>

<body>



<!-- th:action 会自动添加token,防止CSRF -->
<div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/files/upload/file}">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>


<div >
   <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
</div>
<script>
    CKEDITOR.replace( 'editor1' );

</script>



</body>
</html>